.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Button */

.btn-wrapper button {
    background-color: rgb(173, 33, 33);
    border: 0px;
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin-bottom: 50px;
    box-shadow: #000 0px 4px 5px;
}


/* Image */

.img-wrapper img {
    width: 70px;
    margin-top: 25px;
}


/* cart */

.cart-wrapper {
    height: 150px;
    width: 500px;
    border: 1px solid green;
    margin-left: 5%;
}

.item {
    display: inline-block;
    width: 120px;
    height: 70px;
}

.add-to-cart img {
    width: 70px;
    position: absolute;
    right: 1%;
    top: 1%;
}